<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benson.face">

    <!--权限申请 相机-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--使用uses-feature指定需要相机资源-->
    <uses-feature android:name="android.hardware.Camera"/>
    <!--需要自动聚焦 -->
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/ActivityChangeAnimTheme">
        <activity android:name=".WomanClothDetailsActivity" />
        <activity android:name=".ManClothDetailsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectUserTypeActivity" />
        <activity android:name=".StudentLoginActivity" />
        <activity android:name=".SelectModelActivity" />
        <activity android:name=".FaceCameraActivity" />
        <activity android:name=".FaceResultActivity" />
        <activity android:name=".ComplexionStartActivity" />
        <activity android:name=".ComplexionActivity" />
        <activity android:name=".ClothEndActivity" />
        <activity android:name=".BodyCameraActivity" />
        <activity android:name=".ShowClothActivity" />
        <activity android:name=".HairTypeEndActivity" />
        <activity android:name=".HairAndGlassesActivity" />
    </application>

</manifest>